/* styles.css */
.no-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.exploremenuitemactive {
    border: 4px solid tomato;
    padding: 2px;
}

/* styles.css */
.btn-custom-size {
    font-size: 1.875rem;
    /* Custom size (30px) */
}